<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

    <h2>Список пользователей</h2>
    <div>
        <a th:href="@{/addUser}">
            <button type="button" >Добавить нового пользователя</button>
        </a>
    </div>
    <br>
    <br>

    <table style="border-collapse: collapse" >
        <tr>
            <td style="border: 1px solid; padding: 10px; ">Имя</td>
            <td style="border: 1px solid; padding: 10px; ">Фамилия</td>
            <td style="border: 1px solid; padding: 10px; ">Email</td>
            <td style="border: 1px solid; padding: 10px; " colspan="2"></td>

        </tr>
        <tr th:each="user : ${usersList}" >
            <td th:text = "${user.getFirstName()}" style="border: 1px solid; padding: 10px; ">
                Имя
            </td>
            <td th:text = "${user.getLastName()}" style="border: 1px solid; padding: 10px; ">
                Фамилия
            </td>
            <td th:text = "${user.getEmail()}" style="border: 1px solid; padding: 10px; ">
                Email
            </td>
            <td style="border: 1px solid; padding: 10px; ">
                <a th:href="@{/(id=${user.getId()})}">
                    <button type="button">Редактировать</button>
                </a>
            </td>
            <td style="border: 1px solid; padding: 10px; ">
                <form th:method="DELETE"
                      th:action="@{/(id=${user.getId()})}"
                      th:object="${user}">
                    <input type="submit" value="Удалить"/>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>